@charset "UTF-8";
/* IMPORT FONT */    
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/* IMPORT SASS */  
/* HEADER */
header {
  background-image: url(../images/background-header.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  border-bottom: 5px solid #6e6e6e85;
}

/* HEADER INPUT */
.header-search {
  display: inline-block;
  position: relative;
  left: 79%;
  width: 299px;
  height: 34px;
}

.header-search i {
  position: relative;
  top: 87%;
  left: 5%;
  font-size: 12px;
  color: white;
}

.header-search input {
  padding: 14px 0 12px 30px;
  font-family: "Arimo", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
  background: #ffffff66;
  border: 2px solid #807c7c;
  border-radius: 12px;
}
.header-search input:focus {
  padding: 14px 0 12px 30px;
  background: #ffffff66;
  color: white;
}

.header-search input::placeholder {
  color: white;
}

/* HEADER TITRE */
.home-title {
  position: relative;
  margin: 71px auto;
}

.home-title h1 {
  color: #ddd0d0;
  font-size: 54px;
  font-style: italic;
  font-family: "Lobster", cursive;
  letter-spacing: 13px;
}

.home-title p {
  color: #ddd0d0;
  font-size: 35px;
  font-family: "Lobster", cursive;
  letter-spacing: 5px;
}

.home-title, p i {
  color: #ddd0d0;
  font-size: 30px;
}

/* HEADER LOGO */
.logo-header {
  display: inline-block;
  position: relative;
  top: -12%;
  left: -20%;
}

.logo-header img {
  width: 120px;
  height: 120px;
}

/* HEADER BOX */     
.box-header {
  display: block;
  margin: 0 auto;
  padding: 15px 21px 15px 21px;
  text-align: center;
  width: 636px;
  height: 304px;
  background: #000000d1;
  box-shadow: 0 0 20px 12px #9e9e9e75;
  border: none;
  border-radius: 22px;
}

/* HEADER NAVIGABLE */    
.nav-per {
  position: relative;
  margin: -70px auto -21px 0;
  top: -76%;
  width: 100%;
  height: 65px;
}

.nav-mob {
  display: none;
  position: relative;
  width: 72px;
  left: 3px;
  margin: -85px auto 0px 0;
}

.dropdown-item {
  font-family: "Lobster";
  letter-spacing: 2px;
}

.dropdown-item a:hover {
  margin-left: 8px;
}

.dropdown-item i {
  margin-right: 8px;
}

/* HEADER FIN */
/* BTN */
/* HEADER BTN */
.header-btn {
  display: block;
}

.header-btn a {
  display: block;
}

.btn-header {
  margin: 20px auto;
  padding: 12px;
  width: 205px;
  height: 49px;
  background-image: linear-gradient(to right, #000000a1 0%, #4caf50a6 100%);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 11px 5px #64d4bb59;
  border: 2px solid #9e9e9e;
  color: #ddd0d0 !important;
  text-decoration: none !important;
  transition: all 500ms;
}
.btn-header:hover {
  border-radius: 10px;
  box-shadow: 0 0 11px 5px #3f867685;
  border: 2px solid #797979;
  color: #ddd0d0a6 !important;
}

.btn-header i {
  margin: 0 4px 0 0;
}

.btn-nav {
  display: inline-block;
  margin: 20px auto;
  padding: 12px;
  width: 155px;
  height: 45px;
  font-family: "Kanit", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: white;
  text-decoration: none !important;
  background: #0000007c;
  border: 1px solid #212121;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: all 500ms;
}
.btn-nav:hover {
  border: 1px solid #424040;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #2d2c2c7c;
  color: #ffffffa6;
}

/* BTN NAVIGATION */
.btn-nav i {
  margin: 0 6px 0 0;
}

.btn-mob {
  width: 71px;
  border-radius: 9px !important;
  background-color: #ffffffc9;
  color: #4e4d4d;
  border: 1px solid #ffffffc9;
}
.btn-mob:hover {
  border: 1px solid #ffffffa9;
  background-color: #ffffffa9;
  border-radius: 2px !important;
  color: #4e4d4d;
}

/* BUTTON SECTION 2 */
.btn-cards {
  display: block;
  margin: 0px auto;
  padding: 7px;
  width: 124px;
  height: 36px;
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-decoration: none !important;
  background: #0275d8;
  border-radius: 4px;
  box-shadow: 0 0 5px #2196f38a;
  transition: all 500ms;
}
.btn-cards:hover {
  background-color: #0162b6;
  box-shadow: 0 0 5px #196eb38a;
  border-radius: 10px !important;
  color: white;
}

@media only screen and (max-width: 1300px) {
  .home-title {
    margin: -84px auto !important;
  }

  .header-search {
    display: none;
  }

  .header-search-mob {
    display: none;
    position: absolute;
    margin: 0 auto;
    width: 243px;
    top: 1%;
    left: 111%;
    display: inline-block;
  }

  .box-header {
    max-width: 281px;
    height: 340px;
    font-size: 40px;
  }

  .logo-header {
    left: -6%;
  }

  .logo-header img {
    width: 90px;
    height: 90px;
  }

  .nav-per {
    display: none;
  }

  .nav-mob {
    display: block;
  }

  .header-search-mob {
    width: 208px;
  }
}
@media only screen and (max-width: 600px) {
  .home-title {
    margin: 26px auto !important;
  }

  .logo-header {
    left: -2%;
    margin: 20px auto;
  }

  .home-title h1 {
    font-size: 40px;
  }

  .rect-prog {
    left: 88% !important;
  }

  .rect-prog-2 {
    left: 79% !important;
  }

  .rect-prog-3 {
    left: 54% !important;
  }

  .rect-prog-4 {
    left: 39% !important;
  }

  .rect-prog-5 {
    left: 34% !important;
  }

  .triangle {
    left: 95% !important;
  }

  .triangle-2 {
    left: 86% !important;
  }

  .triangle-3 {
    left: 61% !important;
  }

  .triangle-4 {
    left: 46% !important;
  }

  .triangle-5 {
    left: 41% !important;
  }
}
/* Titre Section */
.title-h {
  text-align: center;
  font-family: "Kanit";
  color: #e0e0e0;
  font-weight: 500;
  font-size: 26px;
  text-transform: uppercase;
}

/* Section 1 */
.h-2 {
  height: 2px;
}

.title-bar {
  position: relative;
  top: 26px;
  font-family: "Lobster", sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1px;
  color: #f5f5f5;
}

/* PROGRESS BAR COMPETENCE */
.bar-perso {
  background-color: #f5f5f57d;
  border-radius: 20px;
  height: 8px;
}

.rect-prog {
  position: relative;
  padding: 0px 0px 24px 17px;
  z-index: 9;
  top: 26%;
  left: 92%;
  width: 63px;
  height: 21px;
  background-color: #696161;
  box-shadow: 0 0 3px 0 #9e9e9e;
  border-radius: 0 !important;
}

.rect-prog-2 {
  left: 82%;
}

.rect-prog-3 {
  left: 57%;
}

.rect-prog-4 {
  left: 42%;
}

.rect-prog-5 {
  left: 37%;
}

.rect-prog .text {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 52px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 12px;
  color: #f5f5f5;
}

.triangle {
  position: relative;
  left: 97%;
  z-index: -1;
  top: 9px;
  display: inline-block;
  transform: scaleX(2);
  color: #696161;
  text-shadow: 0 0 0px #696161, 0px 0 1px #696161;
  font-size: 23px;
}

.triangle-2 {
  left: 87%;
}

.triangle-3 {
  left: 62%;
}

.triangle-4 {
  left: 47%;
}

.triangle-5 {
  left: 42%;
}

/* Section 2 */ 
.card-icon {
  position: relative;
  margin: 10px auto 10px auto;
}

.card-btn, .card-date {
  position: relative;
  display: inline-block;
}

.card-btn {
  float: right;
}

.card-date {
  top: 8px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #333333;
}

.card-date span {
  padding: 0 0 0 4px;
}

.card-text {
  font-size: 14px;
  font-family: "Source Sans Pro";
  color: #333333;
  font-weight: normal;
}

.card-icon a:nth-child(1) {
  font-size: 20px;
  color: #832626;
  margin: 0 10px 0 0;
  text-decoration: none;
}
.card-icon a:nth-child(1):hover {
  color: #923535;
}

.card-icon a:nth-child(2) {
  font-size: 20px;
  color: #346a9d;
}
.card-icon a:nth-child(2):hover {
  color: #4c85bb;
}

/* Color Boostrap En plus */
.bg-purple {
  background-color: #9c27b0d6 !important;
}

.bg-pink {
  background-color: #be167ed6 !important;
}

.bg-orange {
  background-color: #FFA500 !important;
}

/* Quote */ 
.blockquote {
  font-family: "Martel";
  letter-spacing: 1px;
  color: #e0e0e0;
  font-weight: 600;
  font-size: 16px;
  line-height: 43px;
}

.blockquote .fa-quote-left {
  margin-right: 10px;
  font-size: 30px;
}

.blockquote .fa-quote-right {
  margin-left: 10px;
  font-size: 30px;
}

/* Séparateur */
.separator {
  position: relative;
  margin: 22px auto 0 auto;
  height: 4px;
  border: 3px solid #f8f9fa;
  border-radius: 2px;
}

/* GLOBAL */
body {
  margin: 0;
  padding: 0;
  background-color: #424242;
}

/*# sourceMappingURL=style.css.map */
