/* Color Boostrap */

.bg-purple
    background-color: $purple-400

.bg-pink
    background-color: $pink-700

.bg-orange
    background-color: $orange-400

/* Margin négatif Bootstrap */

@for $margin from 1 through 4
    .mt-n#{$margin}
        margin:-($margin * .25rem) auto

/* Quote */ 

.blockquote
    font-family: 'Martel'
    letter-spacing: 1px
    color: #e0e0e0
    font-weight: 600
    font-size: 16px
    line-height: 43px

.blockquote .fa-quote-left    
    margin-right: 10px
    font-size: 30px

.blockquote .fa-quote-right    
    margin-left: 10px
    font-size: 30px

/* Séparateur */

.separator
    position: relative
    margin: 22px auto 0 auto
    height: 4px
    border: 3px solid #f8f9fa
    background-color: #f8f9fa
    border-radius: 2px  