@media only screen and (max-width: 1300px)

    /* HEADER */

    .home-title
        margin: -84px auto !important
    .header-search
        display: none
    .header-search-mob
        display: none
        position: absolute
        margin: 0 auto
        width: 243px
        top: 1%
        left: 111%
        display: inline-block
    .box-header
        max-width: 327px
        height: 370px

    /* HEADER LOGO */

    .logo-header
        left: -6% 
    .logo-header img
        width: 90px
        height: 90px

    /* HEADER NAVIGATION */

    .nav-per
        display: none
    .nav-mob
        display: block        

@media only screen and (max-width: 600px)

    /* HEADER */

    .home-title
        margin: 26px auto !important    
    .logo-header
        left: -2%
        margin: 20px auto  
    
    /* PROGRESS BAR COMPETENCE */

    .rect-prog
        left: 88% !important
    .rect-prog-2
        left: 79% !important
    .rect-prog-3
        left: 54% !important
    .rect-prog-4
        left: 39% !important
    .rect-prog-5
        left: 34% !important
    .triangle
        left: 95% !important
    .triangle-2
        left: 86% !important
    .triangle-3
        left: 61% !important 
    .triangle-4
        left: 46% !important 
    .triangle-5
        left: 41% !important