@media only screen and (max-width: 1300px)
    .home-title
        margin: -84px auto !important
    .header-search
        display: none
    .header-search-mob
        display: none
        position: absolute
        margin: 0 auto
        width: 243px
        top: 1%
        left: 111%
        display: inline-block
    .box-header
        max-width: 281px
        height: 340px
        font-size: 40px
    .logo-header
        left: -6% 
    .logo-header img
        width: 90px
        height: 90px
    .nav-per
        display: none
    .nav-mob
        display: block   
    .header-search-mob
        width: 208px

@media only screen and (max-width: 600px)
    .home-title
        margin: 26px auto !important    
    .logo-header
        left: -2%
        margin: 20px auto  
    .home-title h1
        font-size: 40px    
    .rect-prog
        left: 87% !important
    .rect-prog-2
        left: 78% !important
    .rect-prog-3
        left: 53% !important
    .rect-prog-4
        left: 38% !important
    .rect-prog-5
        left: 33% !important
    .triangle
        left: 95% !important
    .triangle-2
        left: 86% !important
    .triangle-3
        left: 61% !important 
    .triangle-4
        left: 46% !important 
    .triangle-5
        left: 41% !important