@media only screen and (max-width: 1300px)
    .home-title
        margin: -84px auto !important
    .header-search
        display: none
    .header-search-mob
        display: none
        position: absolute
        margin: 0 auto
        width: 243px
        top: 1%
        left: 111%
        display: inline-block
    .box-header
        max-width: 281px
        height: 340px
        font-size: 40px
    .logo-header
        left: -6% 
    .logo-header img
        width: 90px
        height: 90px
    .nav-per
        display: none
    .nav-mob
        display: block   
    .header-search-mob
        width: 208px

@media only screen and (max-width: 600px)
    .home-title
        margin: 26px auto !important    
    .logo-header
        left: -2%
        margin: 20px auto  
    .home-title h1
        font-size: 40px    
    .rect-prog
        left: 86% !important
    .rect-prog-2
        left: 77% !important
    .rect-prog-3
        left: 52% !important
    .rect-prog-4
        left: 37% !important
    .rect-prog-5
        left: 32% !important
    .triangle
        left: 95% !important
    .triangle-2
        left: 86% !important
    .triangle-3
        left: 61% !important 
    .triangle-4
        left: 46% !important 
    .triangle-5
        left: 41% !important
    .carousel-box
            width: 90% !important
    .carousel-triangle
        left: 47% !important
    .carousel-inner
            height: auto !important
    .carousel-box p
        padding: 12px 11px 12px 51px !important
    .card-yt
        width: 100% !important
        height: 100% !important
    .carousel-indicators
        bottom: -55px !important
    .tab-title
        margin: 12px auto 28px auto !important
        text-align: center !important
        font-size: 22px !important
    .fb_iframe_widget iframe 
        width: 348px !important
    .fb_iframe_widget span
        width: 296px !important

@media only screen and (max-width: 400px)
    .fb_iframe_widget iframe 
        width: 296px !important